{% extends "base.html" %}

 {% block main %}

 <div class="card mb-3 col-8 mx-auto mb-5">
    <div class="row g-0">
        <section class="col-md-5"> 
            <img class="img-fluid rounded-start" style="height: 100%;" src="{{ url_for('get_image', filename=property.photo)}}" />
        </section>
        <div class="col-md-7">
            <section class="card-body"> 
                <h3>{{property.property_title}} </h3>
                <section class="d-grid gap-2 d-md-block my-3"> 
                    <span class="btn px-3 btn-sm btn-primary rounded-pill"> {{ "${:,.2f}".format(property.price) }} </span>
                    <span class="btn px-3 btn-sm btn-success rounded-pill">{{property.type}}</span>
                </section>
                <p class="card-text">{{property.description}}</p>
            <section class="rooms">
                <span class="roomspan"><img class="bedroomicon" src="{{url_for('static', filename='icons/bedroomicon.png')}}"/> {{property.number_of_bedrooms}} Bedroom(s)</span>
                <span class="roomspan"><img class="bathroomicon" src="{{url_for('static', filename='icons/bathroomicon.png')}}"/> {{property.number_of_bathrooms}} Bedroom(s) </span>
        </section>
        <span class="card-text"><img class="locationicon" src="{{url_for('static', filename='icons/locationicon.png')}}"/> {{property.location}} </span>
        <div>
            <button style="background-color: slateblue; color: antiquewhite;" class="mb-0 px-3 btn mt-3"> Email Realtor</button>
        </div>
        
    </section>
        </div>
        
    </div>
    
 </div>

 {% endblock %}